#progress-bars{
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-bar-container {
  width: 20%;
  height: 20px;
  background-color: lightgray;
  border-radius: 10px;
  overflow: hidden;
  margin: 0px 10px;

}
.progress-bar-1 {
  height: 100%;
  background-color: #89B9AD;
  animation: fillAnimation 1s ease-out;
}
.progress-bar-2 {
  height: 100%;
  background-color: #C7DCA7;
  animation: fillAnimation 1s ease-out;
}
.progress-bar-3 {
  height: 100%;
  background-color: #FFC5C5;
  animation: fillAnimation 1s ease-out;
}
.progress-bar-4 {
  height: 100%;
  background-color: #575757;
  animation: fillAnimation 1s ease-out;
}



@keyframes fillAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes drainAnimation {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

